backend/accounts/__pycache__/__init__.cpython-311.pyc
backend/accounts/__pycache__/admin.cpython-311.pyc
backend/accounts/__pycache__/apps.cpython-311.pyc
backend/accounts/__pycache__/urls.cpython-311.pyc
backend/accounts/__pycache__/models.cpython-311.pyc
backend/accounts/__pycache__/views.cpython-311.pyc
backend/accounts/migrations/__pycache__/__init__.cpython-311.pyc
backend/core/__pycache__/__init__.cpython-311.pyc
backend/accounts/migrations/__pycache__/0001_initial.cpython-311.pyc
backend/core/__pycache__/urls.cpython-311.pyc
frontend/package-lock.json
backend/core/__pycache__/wsgi.cpython-311.pyc
.gitignore
backend/core/__pycache__/settings.cpython-311.pyc
frontend/package-lock.json
frontend/package.json
.gitignore
frontend/package-lock.json
frontend/package.json
.gitignore
frontend/package-lock.json
frontend/package.json
.gitignore
frontend/package-lock.json
frontend/package.json
frontend/package-lock.json
frontend/package.json
frontend/package.json
frontend/package-lock.json
frontend/package.json
frontend/package-lock.json
frontend/package.json
frontend/package-lock.json
frontend/package.json
frontend/.env
backend/accounts/migrations/0002_customuser_avatar.py
backend/db.sqlite3
backend/accounts/migrations/__pycache__/0002_customuser_avatar.cpython-311.pyc
backend/kanban/__pycache__/admin.cpython-311.pyc
backend/kanban/__pycache__/__init__.cpython-311.pyc
backend/kanban/__pycache__/models.cpython-311.pyc
backend/kanban/__pycache__/apps.cpython-311.pyc
backend/kanban/__pycache__/urls.cpython-311.pyc
backend/kanban/__pycache__/views.cpython-311.pyc
.gitignore
.gitignore
.gitignore
backend/kanban/migrations/__pycache__/__init__.cpython-311.pyc
backend/kanban/migrations/__pycache__/0002_card_assignees_checklist_checklistitem_comment_label_and_more.cpython-311.pyc
.gitignore
backend/kanban/migrations/__pycache__/0001_initial.cpython-311.pyc
.gitignore
.gitignore
.gitignore
backend/kanban/__pycache__/serializers.cpython-311.pyc
backend/db.sqlite3
backend/kanban/migrations/__init__.py
backend/kanban/migrations/0002_card_assignees_checklist_checklistitem_comment_label_and_more.py
backend/kanban/migrations/0001_initial.py
backend/db.sqlite3
